[Unit]
Description= marks cool python app for dabtastic animals

[Service]
User=jenkins
ExecStart=/opt/python-application-server/app.py

[Install]
WantedBy=multi-user.target
